
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login page</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">

  </head>
  <body  background="../static/images/bg2.jpg">
    <div class="container mt-5 " >

      <div class="row my-2 mx-2 p-5"  >
        <div class="col-md-6 bg-light mx-auto my-auto" style="border-radius:19px;">


          <form action="" method="post">
            <br>
          <h1 class="jumbotron"style="text-shadow:1px 10px 17px black;border-radius:19px;text-align:center;">login here</h1>
          <label for="">Email</label>
          <input type="email" name="email" value="" class="form-control">
          <br>
          <label for="">Password</label>
          <input type="password" name="pwd" value="" class="form-control">
          <input type="submit" style="margin-left:39%; margin-top:15px;margin-bottom:16px;border-radius:15px;" class="btn btn-success p-2 " value="Login"/>
          </form>

        </div>

      </div>

    </div>
  </body>
</html>
